@font-face {
    font-family: 'Volotea Sans Condensed';
    src: url(fonts/volotea-sans/volotea-sans-condensed.woff2) format("woff2"), url(fonts/volotea-sans/volotea-sans-condensed.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Volotea Sans Condensed';
    src: url(fonts/volotea-sans/volotea-sans-condensed-bold.woff2) format("woff2"), url(fonts/volotea-sans/volotea-sans-condensed-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Volotea Sans';
    src: url(fonts/volotea-sans/volotea-sans-regular.woff2) format("woff2"), url(fonts/volotea-sans/volotea-sans-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Volotea Sans';
    src: url(fonts/volotea-sans/volotea-sans-regular-italic.woff2) format("woff2"), url(fonts/volotea-sans/volotea-sans-regular-italic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Volotea Sans';
    src: url(fonts/volotea-sans/volotea-sans-bold.woff2) format("woff2"), url(fonts/volotea-sans/volotea-sans-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Volotea Sans';
    src: url(fonts/volotea-sans/volotea-sans-bold-italic.woff2) format("woff2"), url(fonts/volotea-sans/volotea-sans-bold-italic.woff) format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'V7 Icons';
    src: url(fonts/v7-icons/v7-icons-webfont.woff2) format("woff"), url(fonts/v7-icons/v7-icons-webfont.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}